.header{
    display:flex;
    justify-content: center;
    gap:40px;
    border:5px solid rgb(243, 236, 236);
    background-color: gold;
}
body{
    background-image:url(../images/ngopicture1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    min-height:100vh;
    margin:0px;
    padding:0px;

}
.register{
    border:4px solid white;
    border-radius: 10px;
    width:600px;
    height:350px;
    margin:150px auto;
    display:flex;
    flex-direction: column;
    opacity:0.7;
}
.citizen{
font-size: 25px;
color:white;
display:flex;
    gap:20px;
    margin-left: 100px;
}
.para{
    
    margin:0;
}
.img1{
    width:20px;
    height:20px;
    margin-top:3px;
    
}
.icon{
    display:flex;
     border:4px solid white;
     width:190px;
     height:30px;
     color:black;
     background-color: white;
     gap:5px;
    
   
}
.input1{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left:100px;
    gap:10px;
}
input{
    width:400px;
    height:35px;
    font-size: 20px;
}
.button1{
    font-size: 20px;
    width: 80px;
    height:30px;
    margin-left:150px;
}
.login{
    display:flex;
    margin-left:230px;
    margin-top: 50px;
    border:4px solid white;
    width:fit-content;
    
}
.button2{
    border:none;
    width:100px;
    background-color: gold;
}
.img2{
    width:20px;
    height:20px;
    background-color:gold;
    

}
.about-section{
    margin-left:300px;
    font-size: 15px;
    
}







